package $package;

import com.chat.msgs.ValidationError;

import java.io.IOException;

public interface ${clientOrServer}Connection {
    String getUUID();
    int getAPIVersion();
    MessageTypes recvMsgType() throws IOException, ValidationError;
    void close();

#for $msg in $recvMsgs
    ${msg.name}Message recv${msg.name}() throws IOException;
#end for
    
#for $msg in $sendMsgs
    void send${msg.name}(${msg.name}Message msg) throws IOException;
#end for    
}
