//
//  Messages.m
//  chatter
//
//  Created by sean matthews on 10/24/13.
//  Copyright (c) 2013 rowboat entertainment. All rights reserved.
//

\#import "Messages.h"

@implementation MessageBase

- (id)init
{
    _type = 0;
    _length = 1;
    return self;
}

@end

#for $msg in $msgs

@implementation ${msg.name}Message

- (id)init
{
    self = [super init];
    _type = ${msg.val};
    return self;
}

@end
#end for 
