package $package;

public class ${msg.name}Message {
#for $field in $msg.fields
    private final $field.type $field.name;
#end for

    public ${msg.name}Message(#echo ', '.join($msg.fieldNames)#) {
    #for $field in $msg.fields
        this.$field.name = $field.name;
    #end for
    }
#for $field in $msg.fields

    public $field.type get#echo $field.name[0].capitalize() + $field.name[1:]#() {
        return $field.name;
    }
#end for
} 
